.bill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    // margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
}

.bill-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-bill {
    padding: 5px 10px;
    border-radius: 5px;
}

.modalModalBillDetail {
    height: calc(100vh - 20%);
    padding-top: 10px;
    overflow: auto;
}

#modalBillDetail::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#modalBillDetail::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.detail-bill-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 5px;
}