.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form-personal-infor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.form-connect-social-network {
    border-radius: 5px;
    box-shadow: 2px 2px 4px #666666;
    .connect-social-network {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.btn-save {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.form-my-package {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.group-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .btn-package {
        padding: 5px;
    }
}

.box-noti {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
}

.map-container {
    height: 400px;
}

.map-box {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    }