.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form-personal-infor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.form-connect-social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}

.logo-google {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;
}