.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form-personal-infor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.form-connect-social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.btn-save {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.form-my-package {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}