.header-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.title-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.title-packages-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-invite {
    display: flex;
    flex-direction: column;
}