.header-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.title-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.packages-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.package-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-invite {
    display: flex;
    flex-direction: column;
}