@import "color";
@import "mixins";

.containerPackage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}

.item {
    @include flexRowStyle(center, center);
    height: 30px;
}

.btn {
    @include flexColumnStyle(center, center);
}

.interest-rate {
    margin: 2%;
    .title {
        color: $textPrimary;
        font-size: 25px;
        font-weight: bold;
    }
    .summary {
        font-style: italic;
    }
    .box-interest-rate {
        margin: 10px;
        justify-content: flex-start;
        .box-textfield-1 {
            margin: 10px;
            @include flexColumnStyle(space-between, flex-start);
            .title-textfield {
                //
            }
        }
    }
    .title-1 {
        font-size: 22px;
        font-weight: bold;
    }
    .box-result {
        font-size: 20px;
        @include flexRowStyle(flex-start, center);
        .title-2 {
            margin-right: 10px;
        }
        .text-1 {
            color: $error;
        }
    }

    .btn-btn-handle {
        width: 100%;
        @include flexRowStyle(flex-end, center);
    }
}