@import "color";
@import "mixins";

.containerPackage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interest-rate {
    margin: 2%;
    .title {
        color: $textPrimary;
        font-size: 25px;
    }
    .summary {
        font-style: italic;
    }
}