.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    .detail-product {
        display: flex;
        flex-direction: row;
    }
}