.title-stock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-modal-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-image-stock {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-edit-stock {
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.btn-edit-stock {
    opacity: 0.75;
}

.btn-edit-stock:hover {
    opacity: 1;
}