.title-stock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-modal-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-image-stock {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}